* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 2 / 2 / 6 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    padding: 20px;
}

/* Estilos del contenedor de la tabla */
.advance-container {
    font-family: Arial, sans-serif;
    text-align: left; 
    width: 100%;

}

/* Estilo para el título */
.advance-container h2 {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 15px;
    color: #86ac41;
}
.advance-table {
  width: 100%;
  border-collapse: collapse;
}

.advance-table th,
.advance-table td {
  border: 1px solid #f0f0f0;
  padding: 10px;
  text-align: center;
}


.advance-table th:nth-child(1),
.advance-table td:nth-child(1) {
  background-color: #acac41; 
}   

.advance-table th:nth-child(2),
.advance-table td:nth-child(2) {
  background-color: #86ac41; 
}

.advance-table th:nth-child(3),
.advance-table td:nth-child(3) {
  background-color: #4fac41; 
}


.advance-table tr:hover td {
  opacity: 0.85;
}
