* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative; 
  overflow-x: hidden;
}

.container_home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_white {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.container_enter {
  z-index: 0;
}

/* 🔹 Contenedor superior con los tres botones */
.top-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 10;
}

/* Estilo general de los botones superiores */
.top-buttons button {
  color: #000000;
  background-color: transparent;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 150px;
  font-size: 12px;
  letter-spacing: 0px;
  transition: 0.3s;
}

/* Botón especial para CERRAR SESIÓN */
.top-buttons .logout {
  background-color: #86ac41;
  color: white;
  border-radius: 8px;
  padding: 8px 14px;
  border: none;
}

.top-buttons .logout:hover {
  background-color: #648030;
}

.container_enter h1 {
  font-size: 35px;
  color: #86ac41;
  margin-bottom: 15px;
  position: absolute;
  top: 20px;
  left: 50px;
}

.close-button {
  position: absolute;
  color: #e4ebe3;
  top: 100px;
  right: 400px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.container_textButton {
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  z-index: 0;
}

.container_textButton .titulo_ahorro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter !important;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 1px;
}

.container_textButton .descripcion_ahorro {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
}

.button_enter {
  background-color: #86ac41;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 190px;
  font-size: 14px;
  margin-top: 21px;
  font-weight: 550;
  letter-spacing: 0.5px;
  display: block;
  margin-left: 10px;
}

.image {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 1000px;
}

.image img {
  width: 570px;
  height: 410px;
  border-radius: 60px;
}

.image p {
  font-size: 10px;
  color: #ccccc9;
  margin-bottom: 15px;
  position: absolute;
  right: 80px;
}

.image a {
  color: #ccccc9;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  margin-right: 35px;
  margin-top: 15px;
}
