

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #879D84;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.formBox {
    background-color: #fff;
    padding: 50px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 400px;
}

.title {
    display: flex;
    color: #77796B;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.paragraph {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.crearCuentaLink {
    color: #4C4C3D; 
    font-weight: 550;
}

.crearCuentaLink:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    background-color: #EAEAEA;
    border: none;
    border-radius: 25px;
    padding: 12px;
    margin: 10px auto;
    width: 90%; 
    font-size: 16px;
    display: block; 
}

.buttonlogin {
    background-color: #7C8465;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto; 
    width: 50%; 
    display: block; 
}

.buttonlogin:hover {
    background-color: #8A9688;
}

.extraOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 10px auto;
    font-size: 14px;
    color: #555;
}

.extraOptions label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.extraOptions a {
    color: #4C4C3D;
    text-decoration: none;
}

.extraOptions a:hover {
    text-decoration: underline;
}