/* Fondo general */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #879b82;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background-color: white;
  padding: 42px;
  border-radius: 42px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; 
}

/* Título */
.container h2 {
  font-size: 2em;
  color: #789262;
  margin-bottom: 5px;
}

/* Texto de datos */
.container p {
  font-size: 1.1em;
  color: #333;
  margin: 1px 0px;
}

/* Recomendación destacada */
.recomendacion {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 16px;
  margin: 12px auto;
  box-shadow: 6px 6px 0px #b2c2a9;
  font-size: 1.1em;
  color: #333;
  max-width: 100%;
  box-sizing: border-box;
}

/* Animación al pasar el mouse */
.container button:hover {
  background-color: #7cae1d;
  transform: scale(1.05);
}

.back-button {
  background-color: #86ac41;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: auto; 
    width: 45%; 
}

.no-data-content {
  background-color: #86ac41;
  padding: 20px;
  border-radius: 16px;
  margin: 12px auto;
  font-size: 1.1em;
  color: #333;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;

}
.no-data-content p {
  color: #ffffff; 
}
